body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    
  }

  


  #brands {
    max-width: 800px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
    justify-items: center;
  }



  .logo {
    background-color: #ffffff;
    width: 160px;
    height: 110px;
    border-radius: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  .mahindra {
    background-image: url('brands/Mahindra\ Logo.png');
  }
  .honda {
    background-image: url('brands/honda-logo-2000-full-download.png');
  }
  .suzuki {
    background-image: url('brands/Suzuki-logo-1920x1080.png');
  }
  .hyundai{
    background-image: url('brands/hyundai-logo-2011-download.png');
  }
  .toyota{
    background-image: url('brands/toyota-logo-2020-europe-download.png');
  }
  .renault{
    background-image: url('brands/Renault-logo-2015-2048x2048.png');
  }
  .kia{
    background-image: url('brands/Kia-logo-2560x1440.png');
  }
  .tata{
    background-image: url('brands/Tata-logo-2000-2560x1440.png');
  }
  .skoda{
    background-image: url('brands/Skoda-logo-2016-1920x1080.png');
  }
  .mg{
    background-image: url('brands/MG-logo-red-2010-1920x1080.png');
  }
  .audi{
    background-image: url('brands/audi-logo-2016-download.png');
  }
  .bmw{
    background-image: url('brands/bmw-logo-2020-gray-download.webp');
  }
  .vv{
    background-image: url('brands/Volkswagen-logo-2019-1500x1500.png');
  }
  .ford{
    background-image: url('brands/ford-logo-2017-download.png');
  }
  .mer{
    background-image: url('brands/Mercedes-Benz-logo-2011-1920x1080.png');
  }
  .nisaan{
    background-image: url('brands/nissan-logo-701.png');
  }

.image {
  opacity: 1;
  display: block;
  width: 550%;
  height: 110%;
  transition: .5s ease;
  backface-visibility: hidden;
  margin-top: -70px;
  
  
}
.container2{
  display: none;
  margin-top: 2%;
  margin-bottom: 2%;
}
.button{
    padding: 1%;
    margin: 0% 25%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 1rem;
    background-color: rgb(216, 216, 216);
    border-color: rgb(255, 131, 8);
    width: 50%;
    cursor: pointer;
    
}
.button:hover {
    background-color:rgb(255, 145, 105);
    color: rgb(255, 255, 255);
}

#details{
  display: none;
}
h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  text-align: center;
}
.form{
  padding-top: 4%;
  background-color: rgb(255, 138, 36);
  border-radius: 2rem;
  width: 40%;
  height: 50rem;
  margin-left: 30%;
  margin-bottom: 3rem;
  
}
.input{
  margin-top: 8%;
  width: 70%;
  height: 3rem;
  font-size: 1rem;
  color: #ffffff;
  margin-left: 15%;
  border:none;
  background-color: rgb(255, 138, 36);
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #eaeaea;
}
.btn{
  margin-top: 20%;
  margin-left: 15%;
}
@media (max-width:800px){
  .form{
    padding-top: 10%;
    background-color: yellowgreen;
    border-radius: 2rem;
    width: 90%;
    height: 50rem;
    margin-left: 5%;
    
  }
}